<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>FDR</string>
        <key>CFBundleDisplayName</key>
        <string>FDR</string>
        <key>CFBundleIdentifier</key>
        <string>uk.ac.ox.cs.fdr</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleShortVersionString</key>
        <string>4.2.7</string>
        <key>CFBundleVersion</key>
        <string>3814</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleExecutable</key>
        <string>fdr4</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.8.0</string>
        <key>SUFeedURL</key>
        <string>https://dl.cocotec.io/fdr/appcast.xml</string>
        <key>SUEnableAutomaticChecks</key>
        <true/>
        <key>SUEnableSystemProfiling</key>
        <false/>
        <key>SUShowReleaseNotes</key>
        <true/>
        <key>SUPublicDSAKeyFile</key>
        <string>mac_update_pub.pem</string>
        <key>SUAllowsAutomaticUpdates</key>
        <true/>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>csp</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>CSPm File</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.oxford.cspm</string>
                </array>
                <key>LSTypeIsPackage</key>
                <false/>
            </dict>
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeDescription</key>
                <string>CSPm File</string>
                <key>UTTypeIdentifier</key>
                <string>com.oxford.cspm</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                    <string>public.text</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>com.apple.ostype</key>
                    <string></string>
                    <key>public.filename-extension</key>
                    <array>
                        <string>csp</string>
                        <string>cspm</string>
                    </array>
                    <key>public.mime-type</key>
                    <string></string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
